{% extends 'master.html' %}
{% block content %}
	 <!doctype html>
<html lang="en">
  <head>
  	<title>ViewIncome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../static/css/style.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(../static/images/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">View-All-Income</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-6">
					<table class="table">
						  <thead class="table-dark">
						  	  <th>Date</th>
						  	  <th>Amount</th>
						  	  <th>Category</th>
						  	  <th>Remark</th>
						  </thead>
						  {% for x in data %}
						     <tbody>
						     	  <tr class="table-success">
						     	  	  <td>{{x.date}}</td>
						     	  	  <td>{{x.amount}}</td>
						     	  	  <td>{{x.category}}</td>
						     	  	  <td>{{x.remark}}</td>
						     	  </tr>
						     </tbody>
						  {% endfor %}
					</table>
				</div>
			</div>
		</div>
	</section>

	<script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/main.js"></script>

	</body>
</html>
{% endblock %}